/* EBID 2021 */
/* *************************************************************** */
/* Custom page CSS */
/* *************************************************************** */
body { background-color:#212529; }
a:link, a:visited { color:#6c757d; }
a:hover { color:#555555; }

